{% extends 'base.html' %} 
{% load staticfiles%}

{% block title %}
		<title>Experience</title>
	{% endblock %}

	{% block caption %}
		<h1 class="col-sm-8">Education</h1>
	{% endblock %}

	{% block menu1 %}disabled{% endblock %}



	{% block content %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
				<hr>
				{% for e in edu %}
					<div class="row">
						<div class="col-md-4">
						<h3>{{e.org.stp_name | linebreaks}}</h3>
						<p>{{e.period | linebreaks}}</p>
						</div>
						<div class="col-md-8">
						<h3>{{e.degree | linebreaks}}</h3>
						<p>{{e.desc | linebreaks}}</p>
						</div>

						<div class="row">
							<div class="col-md-3">
								<div class="media">
								<div class="media-left media-middle">
								<div class="map">
									<img class="media-object ref maps {{e.classname}}" src={% static "img/pin.png" %} alt="map">
									<span class="{{e.classname}}"><iframe class="dropdown-menu" src="{{e.org.stp_location}}" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></span>
								</div>


								</div>
								<div class="media-body reftext">
								Moscow, Russia
								</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="media">
								<div class="media-left media-middle">
								<a href="{{e.org.stp_site}}" target="blank">
								  <img class="media-object ref" src={% static "img/link.png" %} alt="map">
								</a>
								</div>
								<div class="media-body reftext">
								<a href="{{e.org.stp_site}}" target="blank">{{e.org.stp_site}}</a>
								</div>
								</div>
								
							</div>
						</div>
					</div>
				{% endfor %}
				<hr>
				</div>
				<div class="col-md-2">
				</div>
			</div>
		</div>

	{% endblock %}
