@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}


.menu {
  position: relative;
  display: inline;
  cursor: pointer;
}
.menu:hover {
  cursor: pointer;
}
.menu .dropdown-menu {
  position: absolute;
  top: 40px;
  right: auto;
  left: auto;
  width: 290px;
  border-radius: 0;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif; 
}


.menu .dropdown-menu li a {
  color: black;
  font-size: 16px;
  padding: 5px 15px;
}



.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('../img/map.jpg');
  background-position: center;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2  {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.fourzerofour {
  font-size: 700px;
  color: #fff;
}

.contacto {
  display: flex;
  align-items: center;
  background-image: none;
  background-color: #ffffff;
  height: 500px;
  color: #000;
  text-align: left;
  margin-bottom: 30px; 
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 10%;
}

.contact {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.ref {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.reftext {
  vertical-align: middle;
}

.exp {
  text-align: left;
}

.col-sm-6 {
  margin: 0 0 30px;
  opacity: 1;
}

/*.col-sm-6:hover {
  opacity: 1;
  cursor: pointer;
}*/

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fff;
  text-shadow: none;
  opacity: 0.7;
}

.btn.btn-primary:hover {
  opacity: 1;
}

.btn-secondary {
  background-color: #1f4fa1;
  color: #ffffff;
  margin: 0 0 30px;
  opacity: 0.7;
}
.btn-secondary:hover {
  opacity: 1;
  color: #fff;
}


.maps:hover {
  cursor: pointer;
}

.map .dropdown-menu{
  position: absolute;
  top: 15px;
  right: auto;
  left: auto;
  border-radius: 0;
  padding: 10px;
  font-family: Roboto, Helvetica, sans-serif;
}


.pdf {
  align-items: center;
}

.pdf img {
  width: 32px;
  height: 32px;
}


footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li a img {
  width: 32px;
  height: 32px;
}
a {
  text-decoration: none;
  color: black;
}

/*Tiles from HTML5 UP*/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

h2 .port{
    font-weight: 900;
    font-size: 1.1em;
    line-height: 1.5;
    margin: 0 0 2em 0;
    text-transform: uppercase;
    letter-spacing: 0.35em;
  }

    h2 a {
      color: inherit;
    }

/* Tiles */

  .tiles {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    postiion: relative;
    margin: -2.5em 0 0 -2.5em;
  }

    .tiles article {
      -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
      -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
      -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
      transition: transform 0.5s ease, opacity 0.5s ease;
      position: relative;
      width: calc(33.33333% - 2.5em);
      margin: 2.5em 0 0 2.5em;
    }

      .tiles article > .image {
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        position: relative;
        display: block;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
      }

        .tiles article > .image img {
          display: block;
          width: 100%;
        }

        .tiles article > .image:before {
          -moz-pointer-events: none;
          -webkit-pointer-events: none;
          -ms-pointer-events: none;
          pointer-events: none;
          -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
          -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
          -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
          transition: background-color 0.5s ease, opacity 0.5s ease;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 1.0;
          z-index: 1;
          opacity: 0.8;
        }

        .tiles article > .image:after {
          -moz-pointer-events: none;
          -webkit-pointer-events: none;
          -ms-pointer-events: none;
          pointer-events: none;
          -moz-transition: opacity 0.5s ease;
          -webkit-transition: opacity 0.5s ease;
          -ms-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease;
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          opacity: 0.25;
          z-index: 2;
        }

      .tiles article > a {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
        -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
        -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
        transition: background-color 0.5s ease, transform 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1em;
        border-radius: 4px;
        border-bottom: 0;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        z-index: 3;
      }

        .tiles article > a > :last-child {
          margin: 0;
        }

        .tiles article > a:hover {
          color: #ffffff !important;
        }

        .tiles article > a h2 {
          margin: 0;
        }

        .tiles article > a .content {
          -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
          -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
          -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
          transition: max-height 0.5s ease, opacity 0.5s ease;
          width: 100%;
          max-height: 0;
          line-height: 1.5;
          margin-top: 0.35em;
          opacity: 0;
        }

          .tiles article > a .content > :last-child {
            margin-bottom: 0;
          }

      .tiles article.style1 > .image:before {
        background-color: #f2849e;
      }

      .tiles article.style2 > .image:before {
        background-color: #7ecaf6;
      }

      .tiles article.style3 > .image:before {
        background-color: #7bd0c1;
      }

      .tiles article.style4 > .image:before {
        background-color: #c75b9b;
      }

      .tiles article.style5 > .image:before {
        background-color: #ae85ca;
      }

      .tiles article.style6 > .image:before {
        background-color: #8499e7;
      }

      body:not(.is-touch) .tiles article:hover > .image {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }

        body:not(.is-touch) .tiles article:hover > .image:before {
          background-color: #333333;
          opacity: 0.35;
        }

        body:not(.is-touch) .tiles article:hover > .image:after {
          opacity: 0;
        }

      body:not(.is-touch) .tiles article:hover .content {
        max-height: 15em;
        opacity: 1;
      }

    * + .tiles {
      margin-top: 2em;
    }

    body.is-loading .tiles article {
      -moz-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      opacity: 0;
    }

    body.is-touch .tiles article .content {
      max-height: 15em;
      opacity: 1;
    }

    @media screen and (max-width: 1280px) {

      .tiles {
        margin: -1.25em 0 0 -1.25em;
      }

        .tiles article {
          width: calc(33.33333% - 1.25em);
          margin: 1.25em 0 0 1.25em;
        }

    }

    @media screen and (max-width: 980px) {

      .tiles {
        margin: -2.5em 0 0 -2.5em;
      }

        .tiles article {
          width: calc(50% - 2.5em);
          margin: 2.5em 0 0 2.5em;
        }

    }

    @media screen and (max-width: 736px) {

      .tiles {
        margin: -1.25em 0 0 -1.25em;
      }

        .tiles article {
          width: calc(50% - 1.25em);
          margin: 1.25em 0 0 1.25em;
        }

          .tiles article:hover > .image {
            -moz-transform: scale(1.0);
            -webkit-transform: scale(1.0);
            -ms-transform: scale(1.0);
            transform: scale(1.0);
          }

    }

    @media screen and (max-width: 480px) {

      .tiles {
        margin: 0;
      }

        .tiles article {
          width: 100%;
          margin: 1.25em 0 0 0;
        }

    }
/* Main */

  #main {
    padding: 0em 0 6em 0 ;
  }

    @media screen and (max-width: 736px) {

      #main {
        padding: 0em 0 4em 0 ;
      }

    }
/* Wrapper */

  #wrapper > * > .inner {
    width: 100%;
    max-width: 68em;
    margin: 0 auto;
    padding: 0 2.5em;
  }

    @media screen and (max-width: 736px) {

      #wrapper > * > .inner {
        padding: 0 1.25em;
      }

    }

